<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация в Reminder</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Авторизация</p>
        <form class="form_auth_style" action="/login" target="_self" method="post">
            <label>Введите Ваш логин</label>
            <input type="text" name="login" placeholder="Введите Ваш логин" required >
            <label>Введите Ваш пароль</label>
            <input type="password" name="pass" placeholder="Введите пароль" required >
            <button class="form_auth_button" type="submit">Войти</button>
        </form>
    </div>
</div>
</body>
</html>
